.propertiesSelectMenu,
.agentsSelectMenu {
  height: 30;
  background-image: url("~/app/assets/arrowDown.png");
  background-repeat: no-repeat;
  background-size: 20 20;
  background-position: right center;
}

.dropDownWrapper {
  padding: 5 10;
  background-color: white;
  border-radius: 6;
  border-width: 1;
  border-color: #d8d8d8;
}
