.calendar {
  background-color: white;
  border-color: #e7e7e7;
  border-width: 2 2 1 2;
  &-date {
    font-weight: bold;
    font-size: 14;
  }
  &-top-wrapper {
    border-color: #e7e7e7;
    border-bottom-width: 2;
  }
  &-active-week-card {
    background-color: #e7e7e7;
  }
  &-active-day-card {
    background-color: #3a89ec;
    border-radius: 4;
    .calendar-day-text {
      color: white;
    }
  }
  &-appointment-bubble {
    // background-color: #3a89ec;
    width: 3;
    height: 3;
    margin-top: 25;
    z-index: 3;
    border-radius: 3;
  }
}

.border-radius-right {
  border-radius: 0 4 4 0;
}

.border-radius-left {
  border-radius: 4 0 0 4;
}
