<StackLayout class="calendar">
  <FlexboxLayout flexDirection="row" class="calendar-top-wrapper">
    <Label
      flexGrow="1"
      class="calendar-date ml-2"
      text="{{ activeMonth | date : 'MMMM yyyy' }}"
    ></Label>
    <FlexboxLayout>
      <GridLayout (tap)="onPrevMonth()" height="60" width="40">
        <StackLayout class="arrow-left"> </StackLayout>
      </GridLayout>

      <GridLayout (tap)="onNextMonth()" height="60" width="40">
        <StackLayout class="arrow-right"> </StackLayout>
      </GridLayout>
    </FlexboxLayout>
  </FlexboxLayout>

  <StackLayout flexGrow="1" class="p-2">
    <GridLayout rows="auto" columns="*,*,*,*,*,*,*" width="100%">
      <ng-container *ngFor="let day of days; let i = index">
        <StackLayout
          [row]="0"
          [col]="i"
          height="50"
          verticalAlignment="top"
          horizontalAlignment="center"
          [ngClass]="i === 0 || i === days.length - 1 ? 'gray-text' : ''"
        >
          <Label [text]="day" class="text-center"></Label>
        </StackLayout>
      </ng-container>
    </GridLayout>

    <GridLayout [rows]="generateGridRows()" [columns]="generateGridColumns()">
      <ng-container *ngFor="let week of month; let i = index">
        <ng-container *ngFor="let date of week; let j = index">
          <StackLayout
            [row]="i"
            [col]="j"
            height="100%"
            width="100%"
            verticalAlignment="middle"
            horizontalAlignment="center"
            [class.calendar-active-week-card]="date.isActiveWeek"
            [class.calendar-active-day-card]="date.isActiveDay"
            [class.border-radius-right]="
              j == week.length - 1 && !date.isActiveDay
            "
            [class.border-radius-left]="j == 0 && !date.isActiveDay"
            (tap)="onDateChanged(date.day)"
          >
            <Label
              [text]="date.dayNumber"
              [ngClass]="date.isTextGrayed ? 'gray-text' : ''"
              class="text-center calendar-day-text"
            ></Label>
          </StackLayout>
        </ng-container>
      </ng-container>
    </GridLayout>
  </StackLayout>
</StackLayout>
