.isInPast {
  background-color: #f4f4f4;
}

.isInFuture {
  background-color: #2b2e33;

  .viewing-card {
    &-text {
      color: white;
    }
  }
}

.viewing-card {
  &-text {
    font-weight: bold;
    font-size: 10;
  }

  &-image {
    background-image: url("~/app/assets/houseBG.jpg");
    background-size: contain;
    border-radius: 2;
    border-width: 2;
    border-color: white;
  }
}
