<StackLayout class="calendar-expanded">
  <FlexboxLayout class="calendar-expanded-top-wrapper">
    <Label
      flexGrow="1"
      class="calendar-expanded-date ml-2"
      [text]="WeekDateString"
    ></Label>
    <FlexboxLayout>
      <GridLayout (tap)="onPrevWeek()" height="60" width="40">
        <StackLayout class="arrow-left"> </StackLayout>
      </GridLayout>

      <GridLayout (tap)="onNextWeek()" height="60" width="45">
        <StackLayout class="arrow-right"> </StackLayout>
      </GridLayout>
    </FlexboxLayout>
  </FlexboxLayout>

  <GridLayout
    rows="auto"
    [columns]="generateGridColumns()"
    width="100%"
    class="py-1 calendar-expanded-days-list"
  >
    <ng-container *ngFor="let day of days; let i = index">
      <StackLayout
        [row]="0"
        [col]="i + 1"
        verticalAlignment="top"
        horizontalAlignment="center"
        class="calendar-expanded-day-card"
        [class.calendar-expanded-day-card-active]="day.isActive"
      >
        <Label
          [text]="day.dayString"
          class="text-center calendar-expanded-day"
          [class.text-grey]="day.isInPast && !day.isActive"
        ></Label>
      </StackLayout>
    </ng-container>
  </GridLayout>
  <GridLayout rows="*" flexGrow="1">
    <ScrollView orientation="vertical">
      <GridLayout [rows]="generateGridRows()" [columns]="generateGridColumns()">
        <AbsoluteLayout
          *ngIf="showCurrentTime()"
          colSpan="8"
          [row]="getCurrentTimeRow()"
          [marginTop]="getCurrentTimeMargin()"
          class="current-time-wrapper"
          width="100%"
        >
          <StackLayout orientation="horizontal" width="100%">
            <Label class="current-time-text" [text]="currentTime"> </Label>
            <FlexboxLayout width="100%" class="current-time-line">
            </FlexboxLayout>
          </StackLayout>
        </AbsoluteLayout>
        <ng-container *ngFor="let hour of hours; let i = index">
          <FlexboxLayout
            flexDirection="column"
            [row]="i"
            [col]="0"
            [height]="'90'"
            [ngStyle]="{
              'border-width': '1 1 1 0'
            }"
            class="calendar-expanded-date-time-card p-small"
          >
            <Label [text]="hour" class="calendar-expanded-hour-label"></Label>
          </FlexboxLayout>
        </ng-container>

        <ng-container *ngFor="let hour of hours; let i = index">
          <ng-container *ngFor="let day of days; let j = index">
            <FlexboxLayout
              [row]="i"
              [col]="j + 1"
              [height]="'90'"
              class="calendar-expanded-date-time-card"
            >
              <ns-viewing-card
                *ngIf="
                  day.appointments.length > 0 &&
                  hourHasAppointment(i, day).length > 0
                "
                [data]="hourHasAppointment(i, day)"
                [isInPast]="day.isInPast"
              ></ns-viewing-card>
            </FlexboxLayout>
          </ng-container>
        </ng-container>
      </GridLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
