<StackLayout class="calendar-expanded">
  <FlexboxLayout flexDirection="row" class="calendar-expanded-top-wrapper">
    <Label
      flexGrow="1"
      class="calendar-expanded-date ml-2"
      [text]="WeekDateString"
    ></Label>
    <FlexboxLayout>
      <GridLayout (tap)="onPrevWeek()" height="60" width="40">
        <StackLayout class="arrow-left"> </StackLayout>
      </GridLayout>

      <GridLayout (tap)="onNextWeek()" height="60" width="45">
        <StackLayout class="arrow-right"> </StackLayout>
      </GridLayout>
    </FlexboxLayout>
  </FlexboxLayout>

  <GridLayout
    rows="auto"
    [columns]="generateGridColumns()"
    width="100%"
    class="py-1 calendar-expanded-days-list"
  >
    <ng-container *ngFor="let day of days; let i = index">
      <StackLayout
        [row]="0"
        [col]="i + 1"
        verticalAlignment="top"
        horizontalAlignment="center"
        class="calendar-expanded-day-card"
        [class.calendar-expanded-day-card-active]="day.isActive"
      >
        <Label
          [text]="day.dayString"
          class="text-center calendar-expanded-day"
          [class.text-grey]="day.isInPast && !day.isActive"
        ></Label>
      </StackLayout>
    </ng-container>
  </GridLayout>
  <GridLayout rows="*" flexGrow="1">
    <ScrollView orientation="vertical">
      <GridLayout [rows]="generateGridRows()" [columns]="generateGridColumns()">
        <ng-container *ngFor="let hour of hours; let i = index">
          <StackLayout
            [row]="i"
            [col]="0"
            [height]="'90'"
            [ngStyle]="{
              'border-width': '1 1 1 0'
            }"
            class="calendar-expanded-date-time-card p-small"
          >
            <Label [text]="hour" class="calendar-expanded-hour-label"></Label>
          </StackLayout>
        </ng-container>

        <ng-container *ngFor="let hour of hours; let i = index">
          <ng-container *ngFor="let day of days; let j = index">
            <StackLayout
              [row]="i"
              [col]="j + 1"
              [height]="'90'"
              [ngStyle]="{
                'border-width': j === days.length - 1 ? '1 0 1 1' : '1',
                'border-color': j == 0 ? '#e7e7e7' : '#2B2E33'
              }"
              class="calendar-expanded-date-time-card"
            >
              <ns-viewing-card
                [data]="{
                  viewingNumber: 3,
                  imageUrls: [
                    'https://images.pexels.com/photos/1974596/pexels-photo-1974596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1'
                  ]
                }"
                [isInPast]="j === 0"
              ></ns-viewing-card>
            </StackLayout>
          </ng-container>
        </ng-container>
      </GridLayout>
    </ScrollView>
  </GridLayout>
</StackLayout>
